.hotel {
    background-color: #FFFDEE;
    padding-top: 18px;
    padding-bottom: 20px;
}

.hotel-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hotel-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    display: flex;
    justify-content: right;
}

.hotel-name {
    font-family: FilmP3;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #494848;
    display: flex;
    justify-content: right;
    margin-top: 6px;
    margin-bottom: 16px;
}

.hotel-name-spacing {
    letter-spacing: 0;
}

.hotel-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    max-width: 242px;
    margin-left: auto;
}

.hotel-image {
    width: 244px;
    margin-top: 28px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.hotel-section {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.hotel-image-2 {
    max-width: 200px;
    margin-left: auto;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.hotel-text-bottom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;
    max-width: 163px;
    margin-top: 70px;
}

.hotel-services {
    display: flex;
    gap: 20px;
    transform: translateX(-180px);
    margin-bottom: 20px;
}

.hotel-services-image {
    min-width: 245px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.hotel-arrow-btns {
    display: flex;
    column-gap: 32px;
}
  
.hotel-arrow-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border: none;
    visibility: hidden;
}

.hotel-arrow-btn-icon {
    visibility: visible;
    fill: #000000;
    transition: fill 250ms linear;
  }
  
  .hotel-arrow-btn-icon:hover,
  .hotel-arrow-btn-icon:focus,
  .hotel-arrow-btn-icon:active {
    fill: var(--accent-yellow-color);
  }



@media screen and (min-width: 320px) {
    .hotel-container {
        max-width: 414px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .hotel-container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .hotel-container {
        max-width: 1280px;
    }
}


 /* -------------------------- TRIPLE NUMBER ------------------------------- */

 body {
    font-family:'Montserrat', 'FilmP3' ,sans-serif ;
   
}

@font-face {
    font-family: FilmP3;
    src: url(../fonts/FilmP3.ttf);
  }

* {
    box-sizing: border-box;
}

:root {
 
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
   height: auto;
}

 ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
 }

 a {
    text-decoration: none;
     color: inherit;
     }
 p,
 h1,
 h2,
 h3,
 h4{
    margin: 0;
 }

 

 .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; 
 }


 /* -------------------------- TRIPLE NUMBER ------------------------------- */

 .triple-number {
    padding-bottom: 112px;
    background-color: #F0ECD6;
    
}
.triple-number > .container {
    display: flex;
position: relative;
}
.triple-number-top {
    display: flex;
   
}
.riple-number-top-list {

}
.triple-number-top-item {
    top: 286px;
    left: 15px;
    max-width: 244px;
        max-height: 322px;
    position: absolute;
   
}

.triple-number-top-wrap {
    padding-top: 32px;
   margin-right: auto;
display: flex;
flex-wrap: wrap;
flex-direction: column;


}
.triple-number-pre-title {
    margin-left: auto;
    margin-bottom: 8px;

    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;   

color: #B4B4B4;
}
.triple-number-logo {
    margin-bottom: 32px;
    margin-left: auto;
    
    font-family: 'FilmP3';
font-style: normal;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;

color: #494848;
}
.triple-number-title {
    margin-bottom: 12px;
    margin-left: auto;
    margin-bottom: 24px;

     font-family: 'Times New Roman';
     font-weight: 700;
     font-style: normal;
     font-size: 24px;
     line-height: 1.16;
     letter-spacing: 0.05em;

     color: #000000;
}
.triple-number-after-title {
 width: 242px;
 height: 76px;

font-family: 'Montserrat';
font-weight: 600;
font-style: normal;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;

color: #7A7A7A;
}
.triple-number-buttom {
    flex-direction: column-reverse;
    display: flex;
    overflow-x: hidden;
}

.triple-number-buttom-wrap{
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
    gap: 16px;
    
}
.triple-number-buttons {
    width: 236px;
 height: 48px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;

letter-spacing: 0.02em;

color: #F3C653;

background: #000000;
border: 2px solid #FFFFFF;
border-radius: 25px;
}
.triple-number-images {
    margin-top: 386px;
    transform: translateX(40%);
  
    gap: 16px;
    display: flex;
   

   
}
.triple-number-min-images{
    width: 194px;
    height: 194px;
}

/* -------------------------- MEDIA ZAPIT ------------------------------- */

@media screen and (min-width: 414px) {
    .container {
        width: 384px;
      }
      .triple-number-top-wrap {
        margin-right: 0;
        padding-top: 32px;
       margin-left: auto;
    }

}
/* -------------------------- TABLET ------------------------------- */

@media screen and (min-width: 1024px) {
    .container {
        width: 930px;
    }

    .triple-number {
        padding-bottom: 104px;
        background-color: #F0ECD6;
    }
   
    .triple-number-top-item {
       top: -32px;
       left: 50px;
      
        position: absolute;
        max-width: 400px;
        max-height: 524px;
    }
    
    .triple-number-top-wrap {
        padding-top: 66px;
    }
    .triple-number-pre-title {
        margin-left: auto;
        margin-bottom: 4px;
    
        font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    
    color: #B4B4B4;
    }
    .triple-number-logo {
        margin-left: auto;
        margin-bottom: 62px;
    
        font-family: 'FilmP3'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.07;
    
    letter-spacing: 0.3em;
    
    color: #494848;
    }
    .triple-number-title {
        margin-left: auto;
        margin-bottom: 16px;
    
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.05em;
    
    color: #000000;
    }
    .triple-number-after-title {
        width: 400px;
        height: 83px;
    
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color: #7A7A7A;
    }
    .triple-number-buttom {
        display: flex;
        flex-direction: inherit;
    }
    
    .triple-number-buttom-wrap{
        margin-top: 210px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .triple-number-buttons {
        width: 236px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    
    letter-spacing: 0.02em;
    
    color: #F3C653;
    
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    }
    .triple-number-images {
        margin-top: 169px;
        margin-left: 266px;
        transform: translateX(0%);
        display: flex;
        gap: 40px;
    }
}




/* -------------------------- DESKTOP ------------------------------- */

@media screen and (min-width: 1200px) {
    .container {
        width: 1128px;
      }

      .triple-number {
        padding-bottom: 112px;
        background-color: #F0ECD6;   
    }
   
  
    
    .triple-number-top-item {
       top: -32px;
       left: 95px;
      
        position: absolute;
       max-width:460px;
        max-height: 574px; 
    }
    
    .triple-number-top-wrap {
        padding-top: 72px;
       margin-left: auto;
    }
    .triple-number-logo {
        margin-bottom: 73px;
    }
    .triple-number-title {
        margin-bottom: 24px;
    }
   
    .triple-number-buttom {
        display: flex;
        flex-direction: inherit;
    }
    
    .triple-number-buttom-wrap{
        margin-top: 260px;
       
    }
    .triple-number-images {
        margin-top: 188px;
        margin-left: 396px;
    }
}
   

/* -------------------------- ------------- ------------------------------- */
